.App {
  background: linear-gradient(225deg, #33ba51 0%, #369f8c 100%);
  height: 100vh;
  margin: 0;
}
header {
  padding-top: 30px;
}
.manuall {
  display: flex;
  flex-direction: column;
  height:100vh;
}
.searchBar {
  margin: 20px auto;
  max-width: 280px;
  height: 48px;
  background: #ffffff;
  mix-blend-mode: normal;
  /* basic shadows */
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.search {
  height: 30px;
  width: 230px;
  border: 0px;
  outline:none;
}
svg {
  width: 30px;
  height: 30px;
  padding-top: 10px;
  padding-left: 10px;
  fill: gray;
}
