.App {
  background: linear-gradient(225deg, #33ba51 0%, #369f8c 100%);
  min-height: 150vh;
  margin: 0;
}
html {
  font-size: 62.5%;
}
header {
  padding-top: 30px;
}
.manuall {
  display: flex;
  flex-direction: column;
}
img{
  fill:currentColor;
}