.overlay {
  position: fixed;
  background: rgba(34, 34, 34, 1);

  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.modal {
  /* position: relative; */

  position: absolute;
  width: 20rem;
  height: 18rem;
  z-index: 4;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.msg {
  font-family: Fira Sans;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);

  margin-bottom: 1rem;
}
h1 {
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 6.5rem;
}
.closebtn {
  height: 56px;
  width: 160px;
  left: 641px;
  top: 488px;
  border-radius: 4px;
  padding: 16px;
  background-color: rgba(251, 251, 251, 0.8);
  border: none;

  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
