.end {
  position: absolute;
  background: linear-gradient(225deg, #33ba51 0%, #369f8c 100%);
  top: 0;
  left: 0;

  height: 100%;

  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  /* padding: 1% 49% 17% 47%; */
  position: absolute;
  top: 30%;

  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 8rem;
  line-height: 3.6rem;
  color: #ffffff;
  /* border: 1px solid blue; */
}
.btn {
  padding: 1.3rem;
  position: absolute;
  width: 18.8rem;
  height: 56px;
  background: rgba(34, 34, 34, 0.8);
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  bottom: 10rem;
  border: none;
}
.colorparty {
  /* position: absolute; */
  top: 10%;

  height: auto;
  width: 100%;

  display: flex;
  /* width: 80rem; */

  /* padding-top: 40rem; */
  margin: 0 auto;
  /* padding-left: 14rem; */
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 10px auto;
  border-radius: 50px;
}

.circle:nth-child(1) {
  background: linear-gradient(225deg, #d049aa 0%, #9d49d0 100%);
  -webkit-animation: top 1s infinite ease-in-out;
  -moz-animation: top 1s infinite ease-in-out;
  animation: top 1s infinite ease-in-out;
}

.circle:nth-child(2) {
  background: linear-gradient(
      248.66deg,
      rgba(255, 138, 138, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #fdd54a;
  -webkit-animation: bottom 1.1s infinite ease-in-out;
  -moz-animation: bottom 1.1s infinite ease-in-out;
  animation: bottom 1.1s infinite ease-in-out;
}

.circle:nth-child(3) {
  background: linear-gradient(225deg, #7cb5ea 0%, #25688d 100%);
  -webkit-animation: top 1.05s infinite ease-in-out;
  -moz-animation: top 1.05s infinite ease-in-out;
  animation: top 1.05s infinite ease-in-out;
}

.circle:nth-child(4) {
  background: linear-gradient(
      248.66deg,
      rgba(250, 216, 95, 0.6) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #d82e2e;
  -webkit-animation: bottom 1.15s infinite ease-in-out;
  -moz-animation: bottom 1.15s infinite ease-in-out;
  animation: bottom 1.15s infinite ease-in-out;
}

.circle:nth-child(5) {
  background: linear-gradient(225deg, #e2ab73 0%, #e26a6a 100%);
  -webkit-animation: top 1.1s infinite ease-in-out;
  -moz-animation: top 1.1s infinite ease-in-out;
  animation: top 1.1s infinite ease-in-out;
}

.circle:nth-child(6) {
  background: linear-gradient(
      248.66deg,
      rgba(250, 216, 95, 0.6) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #52ad77;
  -webkit-animation: bottom 1.05s infinite ease-in-out;
  -moz-animation: bottom 1.05s infinite ease-in-out;
  animation: bottom 1.05s infinite ease-in-out;
}
.circle:nth-child(7) {
  background: linear-gradient(
      248.66deg,
      rgba(255, 138, 138, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #fdd54a;
  -webkit-animation: bottom 1.1s infinite ease-in-out;
  -moz-animation: bottom 1.1s infinite ease-in-out;
  animation: bottom 1.1s infinite ease-in-out;
}

.circle:nth-child(8) {
  background: linear-gradient(225deg, #7cb5ea 0%, #25688d 100%);
  -webkit-animation: top 1.05s infinite ease-in-out;
  -moz-animation: top 1.05s infinite ease-in-out;
  animation: top 1.05s infinite ease-in-out;
}

.circle:nth-child(9) {
  background: linear-gradient(225deg, #d049aa 0%, #9d49d0 100%);
  -webkit-animation: top 1s infinite ease-in-out;
  -moz-animation: top 1s infinite ease-in-out;
  animation: top 1s infinite ease-in-out;
}
.circle:nth-child(10) {
  background: linear-gradient(225deg, #e2ab73 0%, #e26a6a 100%);
  -webkit-animation: top 1.1s infinite ease-in-out;
  -moz-animation: top 1.1s infinite ease-in-out;
  animation: top 1.1s infinite ease-in-out;
}
.circle:nth-child(11) {
  background: linear-gradient(
      248.66deg,
      rgba(255, 138, 138, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #fdd54a;
  -webkit-animation: bottom 1.1s infinite ease-in-out;
  -moz-animation: bottom 1.1s infinite ease-in-out;
  animation: bottom 1.1s infinite ease-in-out;
}

.circle:nth-child(12) {
  background: linear-gradient(225deg, #7cb5ea 0%, #25688d 100%);
  -webkit-animation: top 1.05s infinite ease-in-out;
  -moz-animation: top 1.05s infinite ease-in-out;
  animation: top 1.05s infinite ease-in-out;
}
.circle:nth-child(13) {
  background: linear-gradient(
      248.66deg,
      rgba(250, 216, 95, 0.6) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #d82e2e;
  -webkit-animation: bottom 1.15s infinite ease-in-out;
  -moz-animation: bottom 1.15s infinite ease-in-out;
  animation: bottom 1.15s infinite ease-in-out;
}
.circle:nth-child(14) {
  background: linear-gradient(225deg, #7cb5ea 0%, #25688d 100%);
  -webkit-animation: top 1.05s infinite ease-in-out;
  -moz-animation: top 1.05s infinite ease-in-out;
  animation: top 1.05s infinite ease-in-out;
}
.circle:nth-child(15) {
  background: linear-gradient(225deg, #d049aa 0%, #9d49d0 100%);
  -webkit-animation: top 1s infinite ease-in-out;
  -moz-animation: top 1s infinite ease-in-out;
  animation: top 1s infinite ease-in-out;
}
.circle:nth-child(16) {
  background: linear-gradient(
      248.66deg,
      rgba(255, 138, 138, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #fdd54a;
  -webkit-animation: bottom 1.1s infinite ease-in-out;
  -moz-animation: bottom 1.1s infinite ease-in-out;
  animation: bottom 1.1s infinite ease-in-out;
}
.circle:nth-child(17) {
  background: linear-gradient(
      248.66deg,
      rgba(255, 138, 138, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #fdd54a;

  animation: slide 1.1s infinite ease-in-out;
}

@-webkit-keyframes top {
  0% {
    -webkit-transform: translateY(-35px);
  }
  50% {
    -webkit-transform: translateY(35rem);
  }
  100% {
    -webkit-transform: translateY(-35px);
  }
}

@-webkit-keyframes bottom {
  0% {
    -webkit-transform: translateY(15rem);
  }
  50% {
    -webkit-transform: translateY(-15rem);
  }
  100% {
    -webkit-transform: translateY(15rem);
  }
}

@-moz-keyframes top {
  0% {
    -moz-transform: translateY(-15rem);
  }
  50% {
    -moz-transform: translateY(15rem);
  }
  100% {
    -moz-transform: translateY(-15rem);
  }
}

@-moz-keyframes bottom {
  0% {
    -moz-transform: translateY(15rem);
  }
  50% {
    -moz-transform: translateY(-15rem);
  }
  100% {
    -moz-transform: translateY(15rem);
  }
}

@keyframes top {
  0% {
    transform: translateY(-15rem);
  }
  50% {
    transform: translateY(15rem);
  }
  100% {
    transform: translateY(-15rem);
  }
}

@keyframes bottom {
  0% {
    transform: translateY(15rem);
  }
  50% {
    transform: translateY(-15rem);
  }
  100% {
    transform: translateY(15rem);
  }
}
@keyframes slide {
  20% {
    transform: translate(15rem);
  }
  70% {
    transform: translate(-15rem);
  }
  90% {
    transform: translate(15rem);
  }
}
