.wrapper {
  display: flex;
  position: relative;
  display: flex;
  justify-content: center;
}
.container {
  position: absolute;
  width: 85rem;
  height: 47.9rem;
  background-color: white;
  border-radius: 0.4rem;
  top: 100px;
}
.header {
  background: rgba(34, 34, 34, 1);
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 11px 56px 9px 55px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.header h1 {
  font-family: Fira Sans;
  font-size: 22px;
  line-height: 25px;

  color: rgba(255, 255, 255, 1);
}
.info {
  display: flex;
  align-items: center;
}
.info img {
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(1);
}

.type {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.container span {
  font-family: Fira Sans;
  font-size: 1.2rem;
  font-weight: regular;
  line-height: 2.5rem;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-left: 0.9rem;
}
.time {
  font-family: Fira Sans;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.image {
  position: relative;
  background: #eeeeee;
  height: 47.9rem;
}
.overlay {
  position: absolute;
  background-color: rgba(34, 34, 34, 0.8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 40rem;
  text-align: center;
}
.content p {
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 2rem;
}
.content button {
  height: 56px;
  width: 160px;
  left: 641px;
  top: 416px;
  border-radius: 4px;
  padding: 16px;
  border: none;
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  margin-top: 6.5rem;
}
.image iframe {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
}
.image img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
}
.description {
  height: 8rem;
  background-color: #fff;
  padding: 4rem 5.5rem;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
.description p {
  font-family: Fira Sans;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
}
.avsluta {
  width: 15.5rem;
  height: 5.6rem;
  background-color: rgba(34, 34, 34, 0.3);

  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  align-items: center;
  text-align: center;
  color: #fbfbfb;
  margin-left: 35rem;
  margin-top: 7rem;
  border: none;
}
.avsluta.active {
  background: rgba(34, 34, 34, 0.8);
}
