.wrapper {
  display: flex;
  position: relative;
  display: flex;
  justify-content: center;
}
.container {
  position: absolute;
  width: 85rem;
  height: 47.9rem;
  background-color: white;
  border-radius: 0.4rem;
  top: 100px;
}
.header {
  background: rgba(34, 34, 34, 1);
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 11px 56px 9px 55px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.header h1 {
  font-family: Fira Sans;
  font-size: 22px;
  line-height: 25px;

  color: rgba(255, 255, 255, 1);
}
.info {
  display: flex;
  align-items: center;
}
.info img {
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(1);
  
}

.type {
  display: flex;
  align-items: center;
  margin-right: 2rem;
 
}
.container span {
  font-family: Fira Sans;
  font-size: 1.2rem;
  font-weight: regular;
  line-height: 2.5rem;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-left: 0.9rem;
}
.time {
  font-family: Fira Sans;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.image {
  background: #eeeeee;
  height: 47.9rem;
}

.image iframe {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
}
.image img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
}
.description {
  height: 8rem;
  background-color: #fff;
  padding: 4rem 5.5rem;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}
.description p {
  font-family: Fira Sans;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
}
