.menu{
display: flex;
flex-direction: column;
align-items: center;
padding: 8px;
position: absolute;
width: 48px;
height: 97px;
left: 32px;
top: 32px;
background: #FFFFFF;
box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
border-radius: 4px;
justify-content: space-around;
}
.menu_link{
padding:5px;
border-radius: 4px;

}
.menu_icon{
 background-color:#FFFFFF;
}
.menu_icon:hover{
background-color:rgba(238, 238, 238, 1);
}
.menu_button{
 outline:none;
 background-color:#FFFFFF;
}