
.filter_box{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top:17%;
    width:70%;
    margin-left:17%;
    justify-content: space-evenly;
  
  
   
    
  
  }
  .flex_item {
  width: 280px;
  background: #FFFFFF;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-left:0;
  }
  .filterTitle{
   margin:0;
   display:flex;
   height: 50px;
   background: #222222;
   border-radius: 4px 4px 0px 0px;
   font-family: 'Fira Sans';
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 25px;
   text-align: center;
   color: #FFFFFF;  
   justify-content: space-around;
   flex-direction: column;
   }
    .filterlist{
    list-style:none;
    padding: .1rem 1rem;
    }
   
  .label__checkbox {
    position: relative;
    width:240px;
    cursor: pointer;
    margin-right:70px;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
   color: #222222;
   display: flex;
   align-items: center;
   justify-content: space-around;
  }
  span{
  postion:absolute;    
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  padding-left:70px;
  left:180px;
  }
  .list__item{
    height: 36px;
    left: 0px;
    top: 86px;
    margin: 0 0 .3rem 0;
    padding: 0;
    }
  
  .list__item::after{
    content:"";
    position: absolute;
    width: 280px;  
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    margin-left:-16px;
    
  }
  .filterlist input[type="checkbox" i]{
    width:20px;
    height:20px;
    padding-left:0;
  }
  .list_item p{
    
  }