.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 23rem;
  padding: 0rem 20rem;
}
.filter_box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flex_item {
  justify-content: center;
  min-width: 25rem;
  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-left: 0;
  margin-right: 3.5rem;
}
.flex_item:last-child {
  margin-right: 0;
}

.filterTitle {
  margin: 0;
  display: flex;
  height: 50px;
  background: #222222;
  border-radius: 4px 4px 0px 0px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  justify-content: space-around;
  flex-direction: column;
}
.filterlist {
  list-style: none;
  padding: 0;
  position: relative;
}

.label__checkbox {
  position: relative;
  width: 240px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 12px;
  color: #222222;
  display: flex;
  align-items: center;
}
.list__item span {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 12px;
  width: 90px;
}
.list__item {
  height: 36px;
  left: 0px;
  top: 86px;
  margin: 0 0 0.3rem 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.list__item::after {
  content: '';
  position: absolute;
  width: 280px;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  margin-left: -16px;
  margin-top: 30px;
}
.filterlist input[type='checkbox'] {
  width: 20px;
  height: 20px;
  padding-left: 0;
  display: block;
  margin-right: 5px;
}
.filterlist input[type='checkbox']:checked {
  display: block;
}
.choose {
  width: 17rem;
  padding: 1.6rem;
  /* margin: 7rem auto; */
  background: rgba(34, 34, 34, 0.9);
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #fbfbfb;
  display: inline-block;
  margin: 5rem auto;
}
.searchBar {
  height: 5rem;
  position: relative;
  max-width: 5rem;
  background: #ffffff;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in;
}
.searchBar.active {
  max-width: 55rem;
}

.searchicon {
  position: absolute;
  height: 3rem;
  width: 3rem;
  margin-left: 1.4rem;
}
.search {
  border: 0px;
  outline: none;
  width: 100%;
  height: 100%;
  padding-left: 5rem;
  border-radius: 0.4rem;

  width: 100%;
}
.search.active {
  width: 100%;
}
.storedLocal {
  display: flex;
  max-width: 17.7rem;
  margin-bottom: 2.6rem;
  height: 2.6rem;
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0.4);
  width: max-content;
  align-items: center;
  padding-right: 1.2rem;
}
.storedLocal img {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 1rem;
}
.storedLocal span {
  display: inline-block;
  color: rgb(0, 0, 0, 1);
  font-size: 1.2rem;
  margin-left: 1.3rem;
  font-weight: 400;
}
.search__close {
  display: none;
}
.storedLocal {
  display: flex;
  max-width: 17.7rem;
  margin-bottom: 2.6rem;
  height: 2.6rem;
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0.4);
  width: max-content;
  align-items: center;
  padding-right: 1.2rem;
}
.storedLocal img {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 1rem;
}
.storedLocal span {
  display: inline-block;
  color: rgb(0, 0, 0, 1);
  font-size: 1.2rem;
  margin-left: 1.3rem;
  font-weight: 400;
}
